/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
/* font-family: 'Solitreo', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');
/* font-family: 'Orbitron', sans-serif; */
/* root */
:root {
    /* font-families */
    --title: 'Solitreo', cursive;
    --quotes: 'Dancing Script', cursive;
    --lcd: 'Orbitron', sans-serif;
    /* Cool and Modern */
    --azure: #1f2bb5;
    --artic: #9dcbe7;
    --violet: #6b2084;
    --spearmint: #A7DBC8;
    --mint: #66c7a7;
    /* Past Present Future */
    --past: #084c61;
    --present: #db504a;
    --future: #e3b505;
}



/* jumbotron */
/* !important will override bootstrap property */
.jumbotron {
    text-align: center;
    background-color: var(--spearmint) !important;
    

}
/* jumbotron siblings */

.title-box {
    font-family: var(--title);
    font-weight: bold;
}

.quote {
    font-family: var(--quotes);
}

.quote span {
    font-family: 'Times New Roman', Times, serif;
}

.displayTime {
    font-family: var(--lcd);
    padding-top: 30px;
}

header #refreshBtn{
    font-size: 20px;
    color: var(--artic);
    background-color: var(--azure);
    margin-top: 20px;
}

/*
.alarm-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    font-family: var(--lcd);
    color: var(--azure);

}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blinking 1s infinite;
}
*/
/* container */


/* Color Change. Add future, present, current */
/* ! make sure to .past, .present, .future along with .textbox */

.past .textbox {
    background-color: var(--past);
}


.present .textbox {
    background-color: var(--present);
}

.future .textbox {
    background-color: var(--future);
}
/* removing outlines */
/* removing resize handle */
textarea.col-md-10 {
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none;
    transition: all ease-in-out .5s;
    text-align: center;
    
}

.hour {
    font-weight: ;
    font-family: var(--lcd);
    color: black;
    margin: auto;
}





/* adding media queries to move icon center */

@media (max-width: 576px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
}

.page-footer {
    background-color: var(--spearmint);
    margin-top: 20px;
    
}

